html {
  height: 100%;
}
html body {
  height: 100%;
}

#tableContent {
    height: 500px;
	postiion:absolute;
    overflow-y: auto;    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#floating_alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}